{% extends "layout.html" %}

{% block body %}
	
	<div class="content">
			{% if prediction is defined %}
                Sepal Length: {{ sepal_length }}<br>
                Sepal Width: {{ sepal_width }}<br>
                Petal Length: {{ petal_length }}<br>
                Petal Width: {{ petal_width }}<br>
                <br>
                Is a {{ prediction }}.
			{% else %}
				Please fill out the form below!
			{% endif %}
	</div>

	{% block page_content %}
	<div class="content">
		<form method="POST">

			{{ form.param1.label }} {{ form.param1() }}
			<br>
			{{ form.param2.label }} {{ form.param2() }}
			<br>
			{{ form.param3.label }} {{ form.param3() }}
			<br>
			{{ form.param4.label }} {{ form.param4() }}
			<br>
			<br>
			{{ form.submit() }}
		</form>
	</div>
	{% endblock %}


<script> var i =  [1,2,3] </script>
{% endblock %}

